<section class="card">
  <a href="/posts/{{id}}">
      <div class="card-header">
        <div class="post-header">{{title}}</div>
        <div class="post-info">Posted by {{user.username}} on {{format_date createdAt}}</div>
      </div>
    <p class="card=body">{{body}}</p>
  </a>
</section>